@model DoAnFramework.Models.ViewModel.OrderViewModel
@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "../Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/store/cart.css" />
<!-- Add these lines in your HTML file, preferably in the head section -->
<span id="temp-user-id" style="display: none;">@if(Model != null) @Model.Order.UserId</span>
<div class="cart">
    <div class="cart-header">
        <h2>Giỏ hàng</h2>
        <a asp-controller="Book" asp-action="Index">
            <span class="material-symbols-outlined"> keyboard_backspace </span>Tiếp tục mua sắm
        </a>
    </div>

    <!-- CART-BODY: Start -->
    <div class="cart-body">
        <!-- PRODUCT-LIST: Start -->

        <table class="product-list--cart">
            <thead>
                <!-- header -->
                <tr class="product-list--header">
                    <th style="max-width:420px;"<p>Sách</p></th>
                    <th><p>Giá</p></th>
                    <th><p>SL</p></th>
                    <th><p>Tổng tiền</p></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="product-list--body">
                @if (Model != null && Model.OrderDetails != null)
                {
                    
                    foreach (var item in Model.OrderDetails)
                    {
                        <tr class="product" id="product-@item.OrderDetail.OrderDetailId">
                            <!-- infor -->
                            <td class="product-infor" style="max-width:420px;">
                                @if (item.FrontCover != null)
                                {
                                    var base64 = Convert.ToBase64String(item.FrontCover);
                                    var imgUrl = String.Format("data:image/png;base64,{0}", base64);
                                    <img class="product-img" src="@imgUrl" />
                                }
                                <div class="product-descr">
                                    <a href="#">@item.OrderDetail.BookName</a>
                                    @* <small class="gray-text">@item.OrderDetail.Book.Author</small> *@
                                </div>
                            </td>

                            <!-- price -->
                            <td id="book-price-@item.OrderDetail.OrderDetailId">@item.OrderDetail.Price</td>
                           

                            <!-- amount -->
                            <td>
                                <div class="flex">
                                    <button class="amount-btn pointer minus" id="btn-minus-@item.OrderDetail.OrderDetailId">-</button>

                                    <input class="amount-feld"
                                           type="number"
                                           min="1"
                                           value="@item.OrderDetail.Quantity"
                                           id="@item.OrderDetail.OrderDetailId" />
                                    <button class="amount-btn pointer plus" id="btn-plus-@item.OrderDetail.OrderDetailId">+</button>
                                </div>
                            </td>

                            <!-- total -->
                            <td class="product-total" id="pro-total-@item.OrderDetail.OrderDetailId">
                               
                            </td>

                            <!-- remove from cart -->
                            <td>
                                <button class="remove-btn pointer"
                                        id="btn-remove-@item.OrderDetail.OrderDetailId"
                                        type="button">
                                    <span class="material-symbols-outlined"> delete </span>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <!-- PRODUCT-LIST: End -->
        <!-- SUBMIT-SECTION: Start -->
        <div class="submit-section flex">
            <!-- sub total: Start -->
            <div class="sub-total flex">
                <p>Tạm tính</p>
                <p class="sub-total--amount"></p>
            </div>
            <!-- sub total: End -->
            <!-- total: Start -->
            <div class="total flex">
                <p>Tổng tiền</p>
                <p class="total-amount"></p>
            </div>
            <!-- total: End -->
            <!-- checkout btn: Start -->
            <a class="btn checkout-bnt pointer" asp-controller="Checkout" asp-action="Index">Tiến hành thanh toán</a>
            <!-- checkout btn: End -->
        </div>
        <!-- SUBMIT-SECTION: End -->
    </div>
    <!-- CART-BODY: End -->

    <div class="empty-cart hidden">
        <img src="https://www.fudcoshop.com/pub/static/frontend/MageBig/martfury_layout04/en_GB/images/empty-cart.svg"
             class="empty-cart--img" />
        <p class="empty-cart--notification">
            Không có sản phẩm nào trong giỏ hàng
        </p>
        <a asp-controller="Book" asp-action="Index" class="btn empty-cart--shopping">TIẾP TỤC MUA SẮM</a>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/cart-checkout/cart.js"></script>
