@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DoAnFramework.Models.Order>
@{
    ViewData["Title"] = "Đơn hàng của tôi";
    Layout = "../Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/style-components/table.css" />
<link rel="stylesheet" href="~/css/store/my-orders.css" />

<div class="section">

    @await Html.PartialAsync("../Shared/_AccountNavPartialView.cshtml")
 
    <!--LIST-ORDERS START-->
    <div class="list-orders">
        <!--breadscrumb-->
        <ul class="breadcrumb-my-order">
            <li class="breadcrumb-current-page">Danh sách đơn hàng</li> /
        </ul>

        <h2>Danh sách đơn hàng của tôi</h2>
        <!--search bar-->
        <div class="search-bar">
            <input type="text" name="" placeholder="Tìm kiếm đơn hàng..." class="search-field">
            <a href="#" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        <!--          -->
        <!-- Change table style. modified 10/28 by Quyen -->
        <!--Table list orders--start-->
        <div class="store-table">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ngày mua</th>
                        <th>SĐT</th>
                        <th>Tên KH</th>
                        <th>Địa chỉ</th>
                        <th>PTTT</th>
                        <th>Trạng thái</th>
                        <th>Tổng sách</th>
                        <th>Tổng tiền</th>
                        <th></th>
                    </tr>
                </thead>
               
                <tbody>
                    @if (Model != null)
                    {
                        foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.OrderId</td>
                                <td>@item.OrderDate</td>
                                <td>@item.UserTelephone</td>
                                <td>@item.UserName</td>
                                <td>@item.Address</td>
                                <td>@item.Pay</td>
                                <td>@item.Status</td>
                                <td>@item.TotalBooks</td>
                                <td>@item.TotalPrice.Value.ToString("#,##0") đ</td>
                                <td>
                                    <a class="link-to-detail" asp-controller="Order" asp-action="OrderDetail" asp-route-id="@item.OrderId">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!--Table list orders--end-->
        <!--pagination--start-->

        <div class="pagination" id="pagination-my-orders">
            @if (Model.HasPreviousPage)
            {
                <a href="@Url.Action("Index", new { user_id = "KH009", page = Model.PageNumber - 1 })">&laquo;</a>
            }
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <a class="@(i == Model.PageNumber ? "active" : "")" href="@Url.Action("Index", new { user_id = "KH009", page = i })">@i</a>
            }
            @if (Model.HasNextPage)
            {
                <a href="@Url.Action("Index", new { user_id = "KH009", page = Model.PageNumber + 1 })">&raquo;</a>
            }
        </div>
        
        
        <!--pagiantion--end-->
    </div>
    <!--LIST-ORDERS END-->
</div>
