
@model DoAnFramework.Models.Order
@{
    ViewData["Title"] = "Chi tiết đơn hàng";
    Layout = "../Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/admin/admin-order-detail.css">
<link rel="stylesheet" href="~/css/store/my-order-detail.css" />


<div class="section">
    @await Html.PartialAsync("../Shared/_AccountNavPartialView.cshtml")

    <div class="admin-order-detail">
        <!--breadcrumb-->
        <ul class="breadcrumb-my-order">
            <li><a asp-controller="Order" asp-action="Index">Danh sách đơn hàng</a> / </li>
            <li class="breadcrumb-current-page">Chi tiết đơn hàng</li>
        </ul>

        <h2 class="section_heading">Mã đơn hàng<span style="color: var(--admin-primary);">#@Model.OrderId</span></h2>


        <!-- start of tracking order status -->
        <div class="progress-track">
            <ul id="progressbar">
                <li class="step0 active " id="step1">Đã đặt hàng</li>
                <li class="step0 active text-center" id="step2"><span>Đang chuẩn bị</span></li>
                <li class="step0 active text-center" id="step3"><span>Đang giao</span></li>
                <li class="step0 text-end" id="step4"><span>Giao thành công</span></li>
            </ul>
        </div>
        <!-- end of tracking order status -->
        <!-- start of Order information -->
        <div class="card m-3">
            <div class="card-body">
                <div class="card-title">
                    <h3>Thông tin khách hàng</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Mã khách hàng: <span class="user-info">@Model.UserId</span></p>
                        <p>Tên khách hàng: <span class="user-info">@Model.UserName</span></p>
                        <p>Điện thoại:  <span class="user-info">@Model.UserTelephone</span></p>
                        <p>Địa chỉ:  <span class="user-info">@Model.Address</span></p>
                    </div>
                    <div class="col">
                        <p>Ngày mua:  <span class="user-info">@Model.OrderDate</span></p>
                        <p>Phương thức thanh toán:  <span class="user-info">@Model.Pay</span></p>
                        <p>Trạng thái đơn hàng: <span class="user-info status">@Model.Status</span> </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of Order information -->
        <!--Information of products in order-->
        <div class="card m-3">
            <div class="store-table w-auto">
                <table>
                    <thead>
                        <th>Mã SP</th>
                        <th>Hình ảnh</th>
                        <th>Tên SP</th>
                        <th>SL</th>
                        <th>Thành tiền</th>
                    </thead>

                    <tbody>
                        @if (Model.OrderDetails != null)
                        {
                            foreach (var item in Model.OrderDetails)
                            {
                                <tr>
                                    <td>@item.OrderDetailId</td>
                                    <td>
                                        @if (item.BookImage != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.BookImage);
                                            var imgUrl = String.Format("data:image/png;base64,{0}", base64);

                                            <div class="table-img" style="background-image: url('@imgUrl');"></div>
                                        }
                                    </td>
                                    <td>@item.BookName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price.Value.ToString("#,##0") đ</td>
                                </tr>
                            }
                        } 
                    </tbody>
                </table>
            </div>

            <div class="total-money-container m-3">
                <div class="row p-2 total-book">
                    <div class="col-6"></div>
                    <div class="col-3 text-end">Tổng số sách</div>
                    <div class="col-3 text-end">@Model.TotalBooks</div>
                </div>
                <div class="row p-2 public-price">
                    <div class="col-6"></div>
                    <div class="col-3 text-end">Tạm tính</div>
                    <div class="col-3 text-end">@Model.TotalPrice.Value.ToString("#,##0") đ</div>
                </div>
                <div class="row p-2 total-money">
                    <div class="col-6"></div>
                    <div class="col-3 text-end fw-bold">Tổng tiền</div>
                    <div class="col-3 text-end fw-bold">@Model.TotalPrice.Value.ToString("#,##0") đ</div>
                </div>
            </div>
        </div>

        <!-- start of update-order-status container -->
        <div class="container update-order-status">
            <button class="btn btn-cancel cancel-order">Hủy đơn hàng</button>
            <button class="btn btn-confirm review-order">Đánh giá</button>
        </div>
        <!-- end of update-order-status container -->

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        var status = $('.user-info.status').text(); // Assuming @Model.Status contains the status string
        console.log(status);
        console.log(status == 'Đang chuẩn bị');
        // Reset all elements to their initial state
        $("#progressbar li").removeClass("active");

        // Add 'active' class based on the status
        if (status === 'Đang chuẩn bị') {
            $("#step1").addClass("active");
            $("#step2").addClass("active");
        } else if (status === 'Đang giao') {
            $("#step1").addClass("active");
            $("#step2").addClass("active");
            $("#step3").addClass("active");
        } else if (status === 'Hoàn thành') {
            $("#step1").addClass("active");
            $("#step2").addClass("active");
            $("#step3").addClass("active");
            $("#step4").addClass("active");
        }
    });
</script>