@model DoAnFramework.Models.ViewModel.OrderViewModel
@{
    ViewData["Title"] = "Đánh giá sách";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="section">
    @await Html.PartialAsync("../Shared/_AccountNavPartialView.cshtml")


    <!--MY_ORDER-FEEDBACK START-->
    <div class="my-order-feedback w-100 ">
        <ul class="breadcrumb-my-order">
            <li><a asp-controller="Order" asp-action="Index">Danh sách đơn hàng</a> / </li>
            <li> <a asp-controller="Order" asp-action="OrderDetail">Chi tiết đơn hàng</a> / </li>
            <li class="breadcrumb-current-page">Đánh giá đơn hàng</li>
        </ul>

        <h2>Đánh giá đơn hàng</h2>

        <div class="form-container">
            <span id="temp-order-id" style="display: none;">@if(Model != null) @Model.Order.OrderId</span>
             <span id="temp-user-id" style="display: none;">@if(Model != null) @Model.Order.UserId</span>
             <span id="temp-user-name" style="display: none;">@if(Model != null) @Model.Order.UserName</span>
            <form class="add-order-feedback">
                
                @if (Model.OrderDetails != null)
                {
                    foreach (var item in Model.OrderDetails)
                    {
                        <div class="product-line" id="@item.OrderDetail.OrderDetailId">
                            <div class="infor-row">
                                @if (item.FrontCover != null)
                                {
                                    var base64 = Convert.ToBase64String(item.FrontCover);
                                    var imgUrl = String.Format("data:image/png;base64,{0}", base64);

                                    <div class="review-img" style="background-image: url('@imgUrl');"></div>
                                }
                                else
                                {
                                    <div class="review-img"></div>
                                }
                                <div class="second-col">
                                    <p id="@item.OrderDetail.BookId" class="book-name">@item.OrderDetail.BookName</p>
                   
                                    <div class="rating-star">
                                        Chất lượng sản phẩm
                                        <div class="stars">
                                            <input type="radio" id="star5 @item.OrderDetail.BookId" name="rating @item.OrderDetail.BookId" value=5>
                                            <label for="star5 @item.OrderDetail.BookId" class="fa-solid fa-star"></label>
                                            <input type="radio" id="star4 @item.OrderDetail.BookId" name="rating @item.OrderDetail.BookId" value=4>
                                            <label for="star4 @item.OrderDetail.BookId" class="fa-solid fa-star"></label>
                                            <input type="radio" id="star3 @item.OrderDetail.BookId" name="rating @item.OrderDetail.BookId" value=3>
                                            <label for="star3 @item.OrderDetail.BookId" class="fa-solid fa-star"></label>
                                            <input type="radio" id="star2 @item.OrderDetail.BookId" name="rating @item.OrderDetail.BookId" value=2>
                                            <label for="star2 @item.OrderDetail.BookId" class="fa-solid fa-star"></label>
                                            <input type="radio" id="star1 @item.OrderDetail.BookId" name="rating @item.OrderDetail.BookId" value=1>
                                            <label for="star1 @item.OrderDetail.BookId" class="fa-solid fa-star"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <textarea placeholder="Nhận xét sản phẩm*" class="form-control w-100 input-feedback" required></textarea>
                            
                        </div>
                    }
                }
                    
                <div class="update-order-status">
                    <button type="button" class="btn btn-cancel">Hủy</button>
                    <button type="submit" class="btn btn-confirm" value="Xác nhận">Xác nhận</button>
                </div>


            </form>
        </div>
        
        

    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/my-order/my-order-feedback.js"></script>
