@model DoAnFramework.Models.Order
@{
    ViewData["Title"] = "Thanh toán";
    Layout = "../Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/store/checkout.css" />

<div class="checkout">
    <!-- CHECKOUT HEADER: Start -->
    <div class="checkout-header">
        <h2>Thanh toán</h2>
        <a asp-controller="Home" asp-action="Index">
            <span class="material-symbols-outlined"> keyboard_backspace </span>Tiếp tục mua sắm
        </a>
    </div>
    <!-- CHECKOUT's HEADER: End -->
    <!-- CHECKOUT BODY: Start -->
    <form>
        
            <div class="checkout-body flex">
            <!-- INFOR FORM: Start -->
            <div class="left-col">
                <div class="infor-form flex flex-col">
                        <span id="temp-address" style="display: none;"> @if(Model != null) @Model.Address</span>
                        <span id="temp-user-id" style="display: none;">@if(Model != null) @Model.UserId</span>
                    <!-- NAME: Start -->
                    <input type="text"
                           placeholder="Họ tên*"
                           id="name"
                           required
                           class="input-char customer-name"
                           value="@if(Model != null) @Model.UserName"/>
                    <!-- NAME: End -->
                    <!-- PHONE NUMBER: Start -->
                    <input type="tel"
                           placeholder="SĐT*"
                           name="phone"
                           aria-required="true"
                           required
                           class="input-char customer-phone"
                           pattern="(\+84|0)\d{7,10}"
                           value="@if(Model != null) @Model.UserTelephone" />

                    <!-- PHONE NUMBER: End -->
                    <!-- ADDRESS: Start -->
                    <div class="address width-50-30">
                        <input type="text"
                               placeholder="Tỉnh/Thành phố*"
                               required
                               id="city"
                               name="city"
                               class="input-char"
                               value=""/> 
                        <input type="text"
                               placeholder="Quận/Huyện*"
                               id="district"
                               name="district"
                               required
                               class="input-char" />
                    </div>

                    <div class="address width-50-50">
                        <input type="text"
                               class="input-char"
                               id="ward"
                               name="ward"
                               placeholder="Xã/Phường*"
                               required />
                        <input type="text"
                               placeholder="Ấp, Hẻm, số nhà,...*"
                               required
                               id="street"
                               name="street"
                               class="input-char address-text" />
                    </div>
                    <!-- ADDRESS: End -->
                    <!-- Required field: start -->
                    <small class="gray-text">*Required field</small>
                    <!-- Required field: End -->
                </div>
                <!-- OTHER ADDRESS: End -->
                <!-- PAYMENT: Start -->
                <div class="payment-section flex flex-col">
                    <!-- paypal -->
                    <div class="payment">
                        <div class="payment-header flex vertical-center">
                            <div class="flex vertical-center">
                                <!-- <img src="~/img/footer_image/paypal.png" />Pay Pal -->
                                <img src="https://cdn-icons-png.flaticon.com/512/5229/5229335.png" />COD
                            </div>
                            <input type="radio"
                                   value="cod"
                                   class="square-radio"
                                   name="payment"
                                   id="cod"
                                   required />
                        </div>
                    </div>
                    <!-- atm momo -->
                    <div class="payment">
                        <!-- header -->
                        <div class="payment-header flex vertical-center">
                            <div class="flex vertical-center">
                                <img src="~/img/footer_image/momo.png" />ATM MOMO
                            </div>
                            <input type="radio"
                                   value="momo-atm"
                                   class="square-radio"
                                   name="payment"
                                   id="momo-atm"
                                   required />
                        </div>
                    </div>

                    <!-- ví momo -->
                    <div class="payment">
                        <!-- header -->
                        <div class="payment-header flex vertical-center">
                            <div class="flex vertical-center">
                                <img src="~/img/footer_image/momo.png" />VÍ MOMO
                            </div>
                            <input type="radio"
                                   value="momo-wallet"
                                   class="square-radio"
                                   name="payment"
                                   id="momo-wallet"
                                   required />
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAYMENT: Start -->
            <!-- BUY COLUMN: Start -->
            <div class="right-col">
                <!-- PRODUCT LIST: Start -->
                <table class="product-list--checkout">
                    <!-- table col's name -->
                    <thead>
                            <tr class="col-name">
                                <td>Sản phẩm</td>
                                <td>Tổng</td>
                            </tr>
                    </thead>
                    
                    <tbody class="product-list--body">
                        @if (Model != null && Model.OrderDetails != null)
                        {
                            foreach (var item in Model.OrderDetails)
                            {
                                <!-- product -->
                                <tr class="product-checkout">
                                    <td class="product-infor">
                                        @if (item.Book.BookImage.FrontCover != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.Book.BookImage.FrontCover);
                                            var imgUrl = String.Format("data:image/png;base64,{0}", base64);
                                            <img class="product-img" src="@imgUrl" />
                                        }
                                        <div class="product-descr">
                                            <a href="#">@item.BookName</a>
                                            @* <small class="gray-text">@item.Book.Author<small> *@
                                            <small style="font-size:12px;">X @item.Quantity</small>
                                        </div>
                                    </td>

                                    <td class="product-total">@item.Price</td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
                <!-- PRODUCT LIST: End -->
                <!-- BUY SECTION: Start -->
                <div class="buy-section">
                    <!-- sub total -->
                    <div class="sub-total flex">
                        <p>Tạm tính (@if(Model != null) @Model.TotalBooks sản phẩm)</p>
                            <p class="sub-total--amount">@if(Model != null) @Model.TotalPrice.Value.ToString("#,##0") đ</p>
                    </div>

                    <!-- total -->
                    <div class="total flex">
                        <p>Tổng tiền<small>(bao gồm VAT)</small></p>
                            <p class="total-amount">@if(Model != null) @Model.TotalPrice.Value.ToString("#,##0") đ</p>
                    </div>

                    <!-- buy -->
                    <input class="btn buy-btn btn-confirm w-100" type="submit" value="Mua ngay" />

                    <!-- avaliable pament method -->
                </div>
                <!-- BUY SECTION: Start -->

            </div>
        </div>
        
    </form>
    <!-- CHECKOUT BODY: End -->
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Your JavaScript code -->
    <script>
    const cart = JSON.parse(localStorage.getItem("myCart"));
    const localCart = getLocalCart(cart);
        
        $(document).ready(function () {
            var user_id = $('#temp-user-id').text();
            displayCheckout(user_id);

            $("#buy-form").submit(function () {
                // Ten, sdt
                // const name = $(".customer-name").val();
                // const phone = $(".customer-phone").val();

                // // gioi tinh
                // const gender = $(".gender-radio")[0].checked === true ? "Nam" : "Nữ";

                // // Dia chi
                // const address = {
                //     tinhThanh: $("#city").val(),
                //     quanHuyen: $("#district").val(),
                //     xaPhuong: $("#ward").val(),
                //     duongAp: $("#street").val(),
                // };

                // // thoi gian
                // const now = new Date();
                // const date = `${now.getFullYear()}-${now.getMonth()}-${now.getDate()} ${now.getHours()}:${now.getMinutes()}:${now.getSeconds()}`;

                // // phuong thuc thanh toan
                // const paymentMethod = $(`input[name="payment"]:checked`).val();

                // buy(name, phone, gender, address, user_id, date, paymentMethod, localCart);

                // if (paymentMethod == "cod") {
                //     alert("Đặt hàng thành công!");
                // }

                // // xoa localstorage chua gio hàng khi ko đăng nhập
                // localStorage.clear();
            });
            
        });

        function displayAddress(addressString) {
            // address
            // get address
            var myString = addressString.split(",");
            for (var i = 0; i < myString.length; i++) {
                myString[i] = myString[i].trim();
            }

            var address = {
                tinhThanh: "",
                quanHuyen: "",
                xaPhuong: "",
                duongAp: "",
            };
            address.duongAp = myString[0];
            if (myString.length == 4) {
                address.xaPhuong = myString[1];
                address.quanHuyen = myString[2];
                address.tinhThanh = myString[3];
            } else {
                address.quanHuyen = myString[1];
                address.tinhThanh = myString[2];
            }
            if (address.tinhThanh == "TP.HCM") {
                address.tinhThanh = "Thành phố Hồ Chí Minh";
            }
            // display address
            $("#city").val(address.tinhThanh);
            $("#district").val(address.quanHuyen);
            $("#ward").val(address.xaPhuong);
            $("#street").val(address.duongAp);
        }
    

        function displayCheckout(user_id) {
            if (user_id !== "") {
                var address = $('#temp-address').text();

                displayAddress(address);
            }
            else 
                displayProductData(localCart);
            
        }
    
        

        function displayProductData(productData) {
            // DISPLAY PRODUCT: START
            var subTotal = 0;
            const tbProduct = $(".product-list--checkout tbody");
            productData.forEach(function (row) {
                subTotal += row.PRICE * row.QUANTITY;
                var imageUrl = "data:image/png;base64," + row.FIRST_PICTURE;
                tbProduct.append(`<tr class="product-checkout">
                             <td class="product-infor">
                               <img
                                 alt="${row.PRODUCT_NAME}"
                                 class="product-img"
                                 src="${imageUrl}" />
                               <div class="product-descr">
                                 <a href="#">${row.PRODUCT_NAME}</a>
                                 <small class="gray-text">Size ${row.SIZE}</small>
                                 <small>X${row.QUANTITY}</small>
                               </div>
                             </td>

                                <td>${(row.PRICE * row.QUANTITY).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}</td>
                         </tr>`);


                var totalPrice = 0;
                // Loop through each row in the table body
                $('.product-list--body tr').each(function () {
                    var price = $(this).find('.product-total').text();
                    totalPrice += price;
                });

                $(".sub-total--amount").text(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " đ");
                $(".total-amount").text(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " đ");
            });
            // DISPLAY PRODUCT: END
        }


    </script>
