@{
	ViewData["Title"] = "Chi tiết sách";
	Layout = "../Shared/_Layout.cshtml";
}
@model DoAnFramework.Models.Book

<link rel="stylesheet" href="~/css/store/product_detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<div class="product-detail--body">
	<div class="product-nav">
		<h1>Sách</h1>
	</div>
	<div class="main-info">
		@if (Model != null)
		{
			<!--Khung giới thiệu ảnh sản phẩm-->
			<div class="product-image">
				@if (Model.BookImage != null)
				{
					var base64 = Convert.ToBase64String(Model.BookImage.FrontCover);
					var imgUrl = String.Format("data:image/png;base64,{0}", base64);
					<div class="product-main-img">
									<img src="@imgUrl">
								</div>					
				}

						<div class="button-container">
							<button class="btn-read-sample" data-bs-toggle="modal" data-bs-target="#read-sample-modal">Đọc thử</button>	
						</div>
					</div>

					<!--Khung giới thiệu thông tin sản phẩm-->
					<div class="product-info">
						<div class="product-name"><h2>@Model.Name</h2></div>
						<div class="product-price"><h3>@Model.Price.Value.ToString("#0,##0") VND</h3></div>
						<div class="product-rating">
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
						</div>

						<div class="product-property category">
							<h4>Thể loại: <span>@Model.Category.NameCategory</span> </h4>
						</div>

						<div class="product-property day-publish">
							<h4>Tác giả: <span>@Model.Author</span> </h4>
						</div>

						<div class="product-property publisher">
							<h4>Nhà xuất bản: <span>@Model.Publisher</span> </h4>
						</div>

						<div class="product-property cover">
						@if (Model.BookCover == 1)
						{
						<h4>Loại bìa sách: <span>Bìa mềm</span> </h4>
						}
						else
						{
							<h4>Loại bìa sách: <span>Bìa cứng</span> </h4>		
						}

						</div>

						<div class="product-property pages">
							<h4>Số trang: <span>@Model.Pages</span> </h4>
						</div>

						<div class="product-property product-quantity">
							<h4>Số lượng:</h4>
							<div class="quantity">
								<span class="minus change-amount-btn">-</span>
								<span class="number">1</span>
								<span class="plus change-amount-btn">+</span>
							</div>
						</div>
						<div class="shopping-btn">
							<button class="btn btn-cancel">Thêm vào giỏ hàng</button>
							<button class="btn btn-confirm">Mua ngay</button>
						</div>
					</div>                               
		}
	</div>
	<!--Khung mô tả và đánh giá-->
	<!-- TAG BTN: start -->
	<nav>
		<div class="nav nav-tabs description" id="nav-tab" role="tablist">
			<button class="nav-link active tag-btn"
					id="nav-home-tab"
					data-bs-toggle="tab"
					data-bs-target="#nav-home"
					type="button"
					role="tab"
					aria-controls="nav-home"
					aria-selected="true">
				Mô tả
			</button>
			<button class="nav-link tag-btn"
					id="nav-contact-tab"
					data-bs-toggle="tab"
					data-bs-target="#nav-contact"
					type="button"
					role="tab"
					aria-controls="nav-contact"
					aria-selected="false">
				Đánh giá
			</button>
		</div>
	</nav>
	<!-- TAG BTN: start -->
	<!-- TAG-CONTENT: start -->
	<div class="tab-content" id="nav-tabContent">
		<!-- description's content: start -->
		<div class="tab-pane fade show active"
			 id="nav-home"
			 role="tabpanel"
			 aria-labelledby="nav-home-tab">
			@if (Model != null)
			{
					<p>@Model.Description</p>
			}
		</div>
		<!-- description's content: end -->
		<!-- review's content: start -->
		<div class="tab-pane fade"
			 id="nav-contact"
			 role="tabpanel"
			 aria-labelledby="nav-contact-tab">
			<!-- header: start -->
			<div class="rating-header">
							<script>
								let countComment = 0;
								let avgScore = 0;
							</script>
				@if (Model.Comments != null)
				{
					foreach (var item in Model.Comments)
					{
										<script>
											countComment++;
											avgScore += Number(@item.Score);
										</script>                        
					}
				}
				<h4>Đánh giá</h4>
				<!-- star: start -->
				<div class="rating">
					<!-- rating scrore -->
					<div class="rating-score">
						<h5>
							<script>
								if (countComment != 0) {
									avgScore = Math.round(avgScore / countComment);
									$(".rating-score h5").text(avgScore);
								}
							</script>
						</h5>
						<div class="rating-icon">
							<script>
								$.each(Array(avgScore), function (index) {
								  $(".rating-icon").append(`
									<ion-icon name="star"></ion-icon>
								  `);
								});
							</script>
						</div>
					</div>
					<!-- amount of review -->
					<div class="people-rate-num">
						<small>
							<script>
								$(".people-rate-num").text(countComment + " lượt đánh giá");
							</script>
						</small>
					</div>
				</div>
				<!-- star: start -->
			</div>
			<!-- header: end -->

			<!-- PERSONAL RATING: Star -->
			<div class="review-list">
				@if (Model.Comments != null)
				{
					foreach (var item in Model.Comments)
					{
						<script>
							$(".review-list").append(`
							  <div class="person-review">
								<!-- star: start -->
								<div class="review-star">
								  <span>Điếm số: @item.Score/5.</span>
								</div>
								<!-- star: end -->

								<!-- comment: start -->
								<div class="review-text">
								  <p>@item.Content</p>
								</div>
								<!-- comment: end -->

								<!-- img: start -->
								<div class="review-img">
								  <div class="name-date">
									<div class="name">
									  <p>@item.UserName</p>
									</div>
									<div class="date">
									  <p>@item.CmtDay</p>
									</div>
								  </div>
								</div>
								<!-- img: end -->
							  </div>
							`);
						</script>
					}	
				}
			</div>
			<!-- PERSONAL RATING: End -->
		</div>
		<!-- review's content: end -->
	</div>
	<!-- TAG-CONTENT: end -->
</div>
<!-- PRODUCT DETAIL'S BODY: END -->
<!-- start of Modal of reading book sample-->
<!-- Modified 11/21/2023 by Quyen -->
<div class="modal fade modal-xl read-sample-container" id="read-sample-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="3" aria-labelledby="#read-sample" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			@if (Model != null)
			{
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="read-sample">Đọc thử:</h1>
					<h1 class="book-name-heading modal-title fs-5">@Model.Name</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>	
				<div class="row modal-body">
					<div class="left-col">
						<div class="row p-1">
							<div class="col-5 img-container">
								<img src="~/../img/mat_biec.jpg" alt="" class="small-book-img front-cover">
							</div>
							<div class="col-7 book-info-container">
								<p class="book-name fw-bold text-uppercase">@Model.Name</p>
								<p class="book-author">@Model.Author</p>
								<p class="book-price">@Model.Price.Value.ToString("") đ</p>
							</div>
							<button class="btn btn-confirm">Mua ngay</button>
						</div>
					</div>

					<div class="right-col">
						@if (Model.BookImage != null)
						{
							<img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.BookImage.FrontCover))" class="book-img front-cover">								
							<img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.BookImage.BackCover))" alt="" class="book-img first-cover">
							<img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.BookImage.FisrtImage))" alt="" class="book-img second-cover">
							<img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.BookImage.SecondImage))" alt="" class="book-img third-cover">
							<img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.BookImage.ThirdImage))" alt="" class="book-img back-cover">							
						}
					</div>
				</div>				
			}
		</div>
	</div>
</div>
<!-- end of Modal of reading book sample-->

<script>
	// add amount
	const plus = document.querySelector(".plus"),
		minus = document.querySelector(".minus"),
		number = document.querySelector(".number");
	let a = 1;
	plus.addEventListener("click", () => {
		a++;
		number.innerText = a;
	});
	minus.addEventListener("click", () => {
		if (a > 1) {
			a--;
			number.innerText = a;
		}
	});
</script>

<script type="module" src="~/js/product_detail.js"></script>

<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>