@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "../Shared/_Layout.cshtml";
}
@model IEnumerable<DoAnFramework.Models.Book>

<link rel="stylesheet" href="~/css/store/product_list.css">

<div class="product-list--body">
    <!-- CATEGORY-HEADER: START -->
    <div class="category-header">
        <!-- TITLE -->
        <h1 class="category-title">Loại sách</h1>
        <!-- breadcrum -->
        <nav class="product-list-link" aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li><a class="breadcrumb-item active" href="#">Danh mục</a></li>
            </ul>
        </nav>
    </div>
    <!-- CATEGORY-HEADER: ENS -->
    <!--Khung Filter và Sản phẩm-->
    <div class="filter-product">
        <!--Khung Filter-->
        <!-- left-col: start -->
        <div class="shop-filter">
            <h3>Lọc theo</h3>

            <!-- accordion: start -->
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <!-- collection: start -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <!-- accordion-item header:start -->
                        <button class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne"
                                aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                            Thể loại
                        </button>
                        <!-- accordion-item header:end -->
                    </h2>

                    <!-- accordion-item body: start  -->
                    <div id="panelsStayOpen-collapseOne"
                         class="accordion-collapse collapse show"
                         aria-labelledby="panelsStayOpen-headingOne">
                        <a class="" asp-controller="Book" asp-action="BookCategory" asp-route-id="5">Truyền cảm hứng</a>
                        <a class="" asp-controller="Book" asp-action="BookCategory" asp-route-id="6">Tự truyện, hồi ký</a>
                        <a class="" asp-controller="Book" asp-action="BookCategory" asp-route-id="7">Truyện ngắn</a>
                        <a class="" asp-controller="Book" asp-action="BookCategory" asp-route-id="10">Lịch sử</a>
                        <a class="" asp-controller="Book" asp-action="BookCategory" asp-route-id="8">Nấu ăn</a>
                        <a class="" asp-controller="Book" asp-action="BookCategory" asp-route-id="4">Kinh dị</a>
                        @*                         <a class="">Truyền cảm hứng</a>
                        <a class="">Tự truyện, hồi ký</a>
                        <a class="">Truyện ngắn</a>
                        <a class="">Lịch sử</a>
                        <a class="">Nấu ăn</a>
                        <a class="">Kinh dị</a> *@
                    </div>
                    <!-- accordion-item body: start  -->
                </div>
                <!-- collection: end -->

                <!-- book cover: start -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-collapseOne">
                        <button class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne"
                                aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                            Loại bìa sách
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne"
                         class="accordion-collapse collapse show"
                         aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body size color-list">
                            <a asp-controller="Book" asp-action="BookCover" asp-route-id="2">Bìa cứng</a>
                            <a asp-controller="Book" asp-action="BookCover" asp-route-id="1">Bìa mềm</a>
                            @*                             <a>Bìa cứng</a>
                            <a>Bìa mềm</a> *@
                        </div>
                    </div>
                </div>
                <!-- book cover: end -->
            <div style="position: relative; height: 50px;">
                <button id="clearFilter">Bỏ chọn</button>
            </div>
            </div>

        </div>
        <!-- left-col: end -->
        <!--Khung Sản phẩm-->
        <!-- right-col: star -->
        <div class="right-col">
            <!-- sort-option: start -->
            <select name="sort" id="sort">
                <option value="expensive-to-cheap">Giá tăng dần</option>
                <option value="cheap-to-expensive">Giá giảm dần</option>
                @*                 <option value="expensive-to-cheap">Mới nhất</option>
                <option value="expensive-to-cheap">Đánh giá cao nhất</option> *@
            </select>
            <!-- sort-option: end -->
            <!-- product-list: start -->
            <div class="product-list">
                @if (@Model != null)
                {
                    foreach (var item in Model)
                    {
                                <div class="product-detail" data-price="@item.Price">
                                    <div class="product-img--container">
                                @if (item.BookImage != null)
                                {
                                                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.BookImage.FrontCover))">
                                }
                                else
                                {
                                                <img src="~/img/mat_biec.jpg">
                                }
                                    </div>
                                            <a asp-controller="Book" asp-action="BookDetail" asp-route-id="@item.BookId">@item.Name</a>
                            @if (item.Price != null)
                            {
                                                <p>@item.Price.Value.ToString("#0,##0") VND</p>
                            }
                            else
                            {
                                                <p>0 VND</p>   
                            }
                                </div>    
                    }
                }
            </div>
            <!-- product-list: end -->
        </div>
        <!-- right-col: end -->
    </div>
</div>

<script type="module" src="~/js/product_list.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>